body {
  text-align: center;
  background-color:#1e1e2f;
}
.topBar{
  
  background-color:red;
  color: white;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 5px;

}
.sideNavGrid{

  background-color: #0590ed;
  color: white;
  margin-top:20px;
  border-radius: 5px;
}

.mainContent{

  /* background-color: #0590ed; */
  color: white;
  margin-top:20px;
  border-radius: 5px;
}

.upperMainDiv{

  background-color:#27293d ;
  color: white;
  border-radius: 5px;
  height: 400px;
}

.lowerDiv{
  background-color:#27293d ;
  color: white;
 
  height: 200px;
  border-radius: 5px;
  margin-top:20px;
}

.notificationDiv{
  background-color:#27293d ;
  color: white;
  height: 200px;
  border-radius: 5px;
  margin-top:20px;
}

.sideNavList{
  text-decoration: none;
  list-style-type: none;
  display:block;
}

.sideNav{
  background-color: #282c34;
  color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
