body {
  text-align: center;
  background-color:#1e1e2f;
}
.countrySelector{
  /* margin-top: 30px; */
  width:100%;
  color: white;
  background-color: white;
  border-color: white;
}

.formControl{
  width:80%;
}

MenuItem{
  color: white;
}

.topBar{
  
  background-color:red;
  color: white;
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 5px;

}
.sideNavGrid{

  background-color: #0590ed;
  color: white;
  margin-top:20px;
  border-radius: 5px;
}

.mainContent{

  /* background-color: #0590ed; */
  color: white;
  margin-top:20px;
  border-radius: 5px;
}

.upperMainDiv{

  background-color:#27293d ;
  color: white;
  border-radius: 5px;
  height: 450px;
}

.lowerDiv{
  background-color:#27293d ;
  color: white;
 
  height: 200px;
  border-radius: 5px;
  margin-top:20px;
}
.LineChart{
  width:100%;
  height:400px;
}
.images{
  width:100%;
  height:500px;
  border-radius: 10px;
  /* border:solid;
  border-width:10px;
  border-color:#1e1e2f ; */

}

.sideImage{
  width:80%;
  height:250px;
  border-radius: 10px;
  margin-top: 15px;
}

.notificationDiv{
  background-color:#27293d ;
  color: white;
  height: 500px;
  border-radius: 5px;
  margin-top:20px;
}

.sideNavList{
  text-decoration: none;
  list-style-type: none;
  display:block;
}

.sideNav{
  background-color: #282c34;
  color: white;
  padding-top: 10px;
  text-align: center;
}

.ChartDiv{
  display:"flex";
  justify-content:"center";
  width: 85%;
  /* background-color: #282c34; */
  color: white;
  padding-top: 10px;
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
